body {
  background-image: linear-gradient(to bottom right, #f07109, #e5d306);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}

#btn {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #fd7600; 
    color: white;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#btn:hover{
    cursor: pointer;
    background-color: #f38220;
}
.poke-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.poke-card {
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 18%; 
    box-sizing: border-box;
    color: white;
}
.poke-card img {
    width: 100%;
    height: auto;
}

.poke-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.poke-card h3 {
    font-size: 18px;
    margin: 0;
}
